$top-nav-height: 10%;

.left-nav {
  width: 15%;
  height: calc(100vh - $top-nav-height);
  padding: 1rem;
  transition: width 0.25s ease;
  z-index: 500;
  margin-top: $top-nav-height;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-self: stretch;
  justify-content: center;
  background-color: #f8f9fa;

  &.collapsed {
    width: 5%;
    .label {
      opacity: 0;
      width: 0;
    }
  }

  .top-section {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;

    .collapse-btn {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      padding: 0.5rem;
      color: #6b7280;
    }
  }

  .nav-menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  .nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background: transparent;
    cursor: pointer;
    font-size: 1rem;

    .icon {
      font-size: 1.5rem;
      color: #60a5fa;
    }

    .label {
      opacity: 1;
      width: auto;
      overflow: hidden;
      white-space: nowrap;
      transition: opacity 0.15s ease, width 0.25s ease;
    }

    &.active {
      .icon {
        color: #2563eb;
      }
    }

    &:hover {
      background: #f4f7fb;
    }
  }
}

.top-navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: $top-nav-height;
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 1000;  // Keeps it in front

  .title-name {
    color: cornflowerblue;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 5rem;
    margin-right: 2rem;
    width: 15%;
  }

  .current-date {
    flex-grow: 1; // pushes next items to the right
  }

  .top-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;   // spacing between buttons
    margin-right: 2rem;
  }

  .email-address {
    font-size: 0.9rem;
    color: #555;
    margin-right: 3rem;
  }
}